@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceso Denegado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fondo-error.css" />
</head>
<body>
    <div class="fondo">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <div>
                    <h1 class="display-1 text-center text-danger font-weight-bold">
                        Acceso Denegado
                    </h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>